body {
	font-family: "Source Sans Pro", "Helvetica Neue", HelveticaNeue,
		Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: rgba(92, 92, 92, 0.9);
	background: rgba(0, 0, 0, 0.08) url(white_plaster.png);
	margin: 0;
}

main,footer {
	padding: 0.5em;
}

header {
	background-color: #FFFFFF;
	line-height: 1.5em;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
	padding: 0 0.15em;
}

header h1 {
	margin: 0;
	letter-spacing: 0.05em;
}

header h1,.right_menu_toggle span[class*='icon-'] {
	padding: 0.25em;
	display: inline-block;
}

.right_menu_toggle {
	cursor: pointer;
	text-align: right;
}

.right_menu_toggle .right_menu {
	display: none;
}

.right_menu_toggle:hover .right_menu {
	display: block;
}

.right_menu_toggle:hover span[class*='icon-'] {
	background: rgba(0, 0, 0, 0.1);
}

.right_menu {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0.4em;
	background-color: rgba(51, 51, 51, 1);
	letter-spacing: 0.1em;
	position: absolute;
	right: 0;
	z-index: 2;
	min-width: 10em;
}

.right_menu a {
	color: #e1e1e1 !important;
	display: block;
	padding: 0.5em;
}

.right_menu>li:FIRST-CHILD {
	border-top: none;
}

.right_menu>li {
	border-top: 1px solid rgba(128, 128, 128, 0.8);
}

.right_menu>li:hover {
	background-color: rgba(128, 128, 128, 0.5);
}

.message {
	width: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.7);
	color: lightgray;
	font-size: 0.9em;
	max-height: 30%;
	height: 0.1em;
	vertical-align: middle;
}

#message, #closeMessageButton, #message_details {
	display: none;
	vertical-align: baseline;
}

#closeMessageButton {
	margin: 0 0.7em;
	background: none;
	border: none;
	color: lightgray;
	font-size: 1.4em;
	padding: 0.4em;
}

.visible_message {
	padding: 0.8em 0;
	height: auto;
}

.visible_message #message, .visible_message #closeMessageButton, .visible_message #message_details {
	display: initial;
}

main {
	
}

main .filter,main .content {
	margin: auto;
	max-width: 960px;
}

main .filter {
	text-align: center;
}

.huge {
	font-size: 2.25em;
}

footer {
	clear: both;
	background-color: rgba(51, 51, 51, 0.8);
	color: #e1e1e1;
	font-size: 0.8em;
	letter-spacing: 0.1em;
}

footer a:hover {
	color: #6CBDFB;
}

.footnote {
	color: rgba(128, 128, 128, 0.8);
}

h1,h2,h3,h4,h5,h6,h1 a {
	color: #667D95 !important;
}

h1 {
	font-size: 2.25em;
	margin-bottom: 0.33333em;
}

h2 {
	font-size: 1.75em;
	margin-top: 0.85714em;
	margin-bottom: 0.42857em;
}

h3 {
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 0.5em
}

h4 {
	font-size: 1.25em;
	margin-top: 0.6em;
	margin-bottom: 0.3em;
}

h5 {
	font-size: 1.125em;
	margin-top: 0.66667em;
	margin-bottom: 0.66667em;
}

h6 {
	font-size: 1em;
	margin-top: 0.75em;
}

a,a:VISITED,.right_menu_toggle {
	text-decoration: none;
	color: #3A8BC9;
}

a:hover,.right_menu_toggle:hover {
	color: #085997;
}

body,a,button,select,li,.message {
	transition: 0.3s cubic-bezier(0.26, 0.47, 0.36, 0.94);
}

span {
	display: inline-block;
	vertical-align: middle;
}

ul.horizontal {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.horizontal li {
	display: inline-block;
	vertical-align: middle;
	padding: 0 !important;
}

.container {
	padding: 0.5em;
	margin: 0.3em;
	overflow: hidden;
	display: inline-block;
	transition: 0.8s cubic-bezier(0.26, 0.47, 0.36, 0.94);
	width: 96%;
	white-space: nowrap;
}

.container:hover {
	background-color: rgba(0, 0, 0, 0.04);
}

.grid {
	width: 30%;
}

.grid .status {
	font-size: 1em;
}

.grid .time {
	font-size: 0.7em;
}

.grid .name {
	max-width: 55%;
	font-size: 0.8em;
}

input[type="text"],button,select,.container {
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="text"] {
	padding: 0.16em;
	font-size: 1.1em;
	width: 100%;
}

select {
	padding: 0.3em;
	outline: none;
	opacity: 0.6;
}

button {
	padding: 0.4em 0.8em;
	box-shadow: none;
	cursor: pointer;
	opacity: 0.6;
	vertical-align: middle;
}

button:hover,select:hover {
	opacity: 1;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

button:active {
	box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.selected {
	background: rgba(0, 0, 0, 0.5);
}

.selected:hover {
	opacity: 0.55;
}

.Pass {
	color: rgba(0, 128, 0, 0.8);
}

.Failed {
	color: rgba(255, 0, 0, 0.8);
	border: 1px solid rgba(255, 0, 0, 0.3);
	box-shadow: 0 0 0.13em rgba(255, 0, 0, 0.5);
}

.Unknown {
	color: rgba(255, 128, 24, 0.8);
}

.right {
	float: right;
}

.left {
	float: left;
}

.status,.name,.time,.more-info {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.status {
	width: 20px;
	font-size: 1.2em;
}

.name {
	font-weight: bold;
	max-width: 84%;
}

.time {
	font-size: 0.75em;
	color: rgba(0, 0, 0, 0.8) !important;
	font-weight: bold;
}

.more-info {
	padding: 0 0 0 0.5em;
	font-size: 1.5em;
	display: inline-block;
	vertical-align: middle;
}

.time,.details {
	color: rgba(92, 92, 92, 0.9) !important;
	overflow: hidden;
}

.details {
	max-height: 0;
	transition: 0.5s cubic-bezier(0.26, 0.47, 0.36, 0.94);
}

.visible {
	max-height: 200px;
}

.details table {
	padding: 0.55em;
	width: 100%;
	font-size: 0.9em;
	table-layout: fixed;
}

.header {
	font-weight: bold;
	width: 35%;
}

.value {
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
}